.restaurants {
  padding: 6rem 2.2rem 6rem 2.2rem;
  background-color: $bcg-lightgrey;

  &--flexRow {
    @include flex(row, center, center);
    flex-wrap: wrap;
  }

  &__title {
    font-size: $fz26;
    font-weight: $fw900;
    margin-bottom: 1rem;
  }

  &__container {
    position: relative;
    width: 33.7rem;
    height: 25rem;
    border-radius: 1.5rem;
    background-color: #fff;
    box-shadow: $btnShadow;
    margin: 1.7rem 1rem;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  &__description {
    padding: 1.5rem 2.5rem 2rem 1.4rem;

    @include flex(row, center, space-between);
  }

  &__text {
    line-height: 2rem;
    font-size: $fz16;

    :first-child {
      font-weight: $fw700;
    }

    :last-child {
      font-weight: $fw300;
    }
  }

  &__icon {
    padding: 0.5rem;
    font-size: $fz22;
    color: #7e7e7e;
    background: linear-gradient(-137deg, $primary -33%, $secondary 96%);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: bottom;
    transition: all 0.8s ease-in-out;
    background-clip: text;
    -webkit-background-clip: text;

    &:hover {
      font-weight: 900;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }

  &__new {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 0.2rem;
    color: $darkenTertiary;
    background-color: $tertiary;
    font-size: $fz16;

    @include flex(row, center, center);
  }
}
