.header {
  &__logo_container {
    position: relative;
    z-index: 1;
    height: 6.4rem;
    box-shadow: $headerShadow;

    @include flex(row, center, center);

    &__logo {
      padding: 2.3rem 0 1.5rem 0;
    }

    &--bxShwNone {
      box-shadow: none;
    }
  }

  &__arrow {
    font-size: $fz22;
    position: absolute;
    left: 3rem;
    top: 2.5rem;
    color: #353535;
  }

  &__search_bar {
    height: 5rem;
    background-color: #eaeaea;
    padding-left: 8rem;

    @include flex(row, center, center);

    .fa-map-marker-alt {
      font-size: $fz16;
    }
  }

  &__search_bar_input {
    border: none;
    background-color: #eaeaea;
    padding: 1.6rem 1rem 1.5rem 2rem;
    font-weight: $fw700;
    font-size: $fz16;

    &::placeholder {
      font-weight: $fw700;
      font-size: 1.6rem;
    }
  }
}
