.main {
  height: 100%;
  &__image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: auto;
    margin-top: -3rem;
    top: 27.7rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    background-color: $bcg-lightgrey;
  }

  &__wrapper {
    @include flex(column, center, center);
    padding: 4rem 2rem 0 2rem;
  }

  &__headerTitle {
    @include flex(row, center, space-between);
    width: 100%;
    font-size: $fz26;
    font-weight: $fw500;
    font-family: $shrikhand;
  }

  &__titles {
    position: relative;
    font-size: $fz16;
    font-weight: $fw300;
    margin-top: 3rem;

    &::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.35rem;
      background-color: $tertiary;
      top: 2rem;
      left: 0;
      animation: borderSlide 5s;
    }
  }

  &__description {
    width: 30rem;
    line-height: 2.5rem;
    padding: 1rem;
    font-weight: $fw900;
    transition: 0.5s;
    overflow: hidden;

    p,
    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--fw {
      font-weight: $fw300;
    }
  }

  &__price {
    width: 4rem;
    align-self: flex-end;
    margin: 0 0 0.5rem 2rem;
    padding-bottom: 1rem;
  }

  &__card {
    overflow-x: hidden;
    width: 35rem;
    height: 7rem;
    background-color: #fff;
    margin-top: 2rem;
    box-shadow: $btnShadow;
    border-radius: 1.4rem;
    font-size: $fz16;

    @include flex(row, center, space-between);

    &--check {
      width: 0;
      height: 100%;
      border-radius: 0 1.4rem 1.4rem 0;
      background-color: $tertiary;
      color: #fff;
      font-size: $fz22;
      transition: 0.5s;

      @include flex(row, center, center);
    }

    &:hover {
      .main__card--check {
        width: 7rem;
      }

      .fa-check-circle {
        transform: rotate(360deg);
        transition: transform 0.8s;
      }
    }

    &--slide1 {
      animation: slideUp 3s;
    }

    &--slide2 {
      animation: slideUp 6s;
    }

    &--slide3 {
      animation: slideUp 8s;
    }
  }
}
