.main {
  &__image {
    width: 100%;
    height: auto;
  }

  &__container {
    width: 100%;
    position: absolute;
    top: 27.7rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    background-color: $bcg-lightgrey;
  }

  &__wrapper {
    padding: 4rem 2rem;
  }

  &__title {
    font-size: $fz26;
    font-weight: $fw900;
    font-family: $shrikhand;
  }

  &__description {
    @include flex(column, flex-start, center);
    width: 22rem;
    line-height: 2.5rem;
    padding: 1rem;
    font-weight: $fw300;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      font-weight: normal;
    }
  }

  &__price {
    width: 6rem;
    padding: 1rem;
  }

  &__card {
    width: 35rem;
    height: 7rem;
    background-color: #fff;
    margin-top: 1.5rem;
    box-shadow: $btnShadow;
    border-radius: 1.4rem;
    font-size: $fz16;

    @include flex(row, center, space-between);

    &--check {
      // overflow: hidden;
      width: 6rem;
      height: 100%;
      border-radius: 0 1.4rem 1.4rem 0;
      background-color: $tertiary;
      color: #fff;

      @include flex(row, center, center);
    }
  }
}
