@mixin flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin recipesCardImg {
  opacity: 0;
  position: absolute;
  width: 25rem;
  height: 24rem;
  border-radius: 2rem;
  object-fit: cover;
}

@mixin dots {
  position: absolute;
  width: 0.5rem;
  height: 0.5em;
  background-color: black;
  border-radius: 50%;
  animation: 1.5s bounce infinite ease-in-out;
}
