.btn {
  font-size: $fz16;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  color: #fff;
  background: $bccLinearGradient;
  box-shadow: $btnShadow;
}

.main__btn {
  @include flex(row, center, center);
  width: 20rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}
